@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensado";
}
body{
    padding-top: 100px;
}
:root {
    --cor-01: #FAD61D;
    --cor-02: #E19720;
    --cor-03: #F62D14;
    --cor-04: #811E09;
    --cor-05: #000000;
    --cor-06: #ffffff;
    --cor-07: #696767;
}

.divcabecalho {
    max-width: 1000px;
    margin: 0 auto;
   
}

.cabecalho {
    width: 100%;
    background-color: var(--cor-07);
    margin-bottom: 40px;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding: 20px;
}

.cabecalho .divcabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    display: block;
    width: 45px;
   
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul a {
    padding: 5px 25px;
    color: var(--cor-06);
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    font-style: italic;
    transition:  all .3s linear;
}
.menu ul a:hover{
    background-color: var(--cor-02);
    border-radius: 20px;
}
.Pcabecalho{
    color: var(--cor-06);
}
.conteudo .Titulo{
    text-align: center;
    font-size: 55px;
    font-style: italic;
    
    margin-bottom: 15px;
    text-transform: uppercase;
}

.conteudo img{
    width: 250px;
    float: left;
    margin-right: 10px ;
    margin-bottom: 1px;
    border-radius: 30px;
}
.conteudo .imgRigth{
    width: 250px;
    height: 240px;
    float: right;
    margin-left: 10px ;
    margin-top: 10px;
    border-radius: 30px;
}
.conteudo p{
    text-align: justify;
    font-style: italic;
    font-weight: bold;
    
}


.ConteudoPI .titulo{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-style: italic;
}
.ConteudoPI img{
    width: 200px;
    height: 200px;
}
.Geracao{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    background-color: var(--cor-02);
    width: 200px;
    border-radius: 20px;
}
.divPI{
    display: flex;
    width: 100px;
    margin-left: 60px;
    padding: 30px 50px;
    
}

.Pokesfogo{
    border-radius: 10px;
    border: 2px solid var(--cor-04);
    margin: 20px;
    padding: 8px;
}

.Pokesplanta{
    border: 2px solid var(--cor-04);
    margin: 20px;
    border-radius: 10px;
    padding: 8px;
}

.Pokesagua{
    border: 2px solid var(--cor-04);
    margin: 20px;
    border-radius: 10px;
    padding: 8px;
}
.NPokes{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.PokeInText{
    text-align: justify;
    font-style: italic;
}

.ConteudoCO h2{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-style: italic;
   
}
.ConteudoCO  .Mapas img{
    display: block;
    width: 500px;
    border-radius: 15px;
    margin: 40px auto;
}


.ConteudoCO .Mapas h3{
    text-align: center;
    background-color: var(--cor-02);
    width: 180px;
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    padding: 10px;
}
.ConteudoIS .divcabecalho{
    display: flex;
    padding: 20px 10px;
    border: 1px solid var(--cor-02);
    border-radius: 10px;
    margin: 20px auto;
}
.ConteudoIS h2{
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
}
.ConteudoIS .divcabecalho img{
    width: 50px;
    margin: 20px;
    
}
.ConteudoIS .divcabecalho .Gym{
    padding: 3px;
    border: 1px solid var(--cor-04);
    border-radius: 20px;
    margin: 0px auto;
    align-items: center;
    height: 160px;
}
.ConteudoIS .divcabecalho .Gym p {
    text-align: justify;
    font-size: 11px;
    width: 95px;
    font-style: italic;
}
.ConteudoIS > h3{
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
.ConteudoTR .divcabecalho{
    padding: 20px;
}
.ConteudoTR .Treinadores1{
    display: flex;
}
.ConteudoTR .divcabecalho h2{
    text-align: center;
    font-style: italic;
    margin: 20px;
    text-transform: uppercase;
}
.ConteudoTR .Personagens{
    border: var(--cor-07) solid 2px;
    border-radius: 20px;
    margin: 0 auto;
    
}
.ConteudoTR .Personagens img{
    width: 120px;
    height: 230px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    
}
.ConteudoTR .Personagens h3{
    text-align: center;
    margin: 10px;
    font-style: italic;
    font-family: monospace;
    font-weight: bold;
}
.ConteudoTR .Treinadores p {
    font-size: 10px;
    text-align: justify;
}
.ConteudoBA  h2{
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    margin: 20px;
}
.ConteudoBA .Videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}
.Prox{
    display: flex;
    justify-content: center;
    background-color: var(--cor-07);
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
}
.Prox a, .Prox p{
    padding:  5px;
    text-decoration: none;
    color: var(--cor-06);
    
}
.Prox a:hover{
    text-decoration: underline;
}
.rodape{
    background-color: var(--cor-07);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    color: var(--cor-06);
    font-style: italic;
}
.rodape .InstaCriador{
    text-decoration: none;
    color: var(--cor-06);
    font-weight: bold;
    padding: 2px;
}

.rodape .InstaCriador:hover{
    
    border-radius: 5px;
    background-color: var(--cor-02);
    text-decoration: underline;
}

.DivRodape{
    display: block;
    margin: 10px auto 2px;
    background-color: rgba(0,0,0,0.7);
    width: 230px;
    border-radius: 20px;
    align-items: center;
    padding: 0px 10px;
}
.DivRodape img{
    width: 40px;
    height: 40px;
    
}
